body {
  color: #7a7a7a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-block {
  margin: 0.5em;
}

.app-title {
  color: #1e7981;
  font: 2.5em 'Ribeye', cursive;
  margin-bottom: 0;
  text-align: center;
}

.app-subtitle {
    color: #1e4d81;
    font: 1.25em 'McLaren', cursive;
    margin-top: 0;
    text-align: center;
}

.logo {
  max-width: 100px;
  width: 100%
}

/* divider */
.blue {
  box-shadow: inset 0 22px 30px -15px rgba(30, 77, 129, 0.75);
}

.teal {
  box-shadow: inset 0 22px 30px -15px rgba(30, 121, 129, 0.75);
}

.gray {
    box-shadow: inset 0 22px 30px -15px rgba(122, 122, 122, 0.75);
}

.line {
  border: 0;
  height: 22px;
}


/* posts */
.posts-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  max-width: 1000px;
}

.post {
  border: 3px solid #808080;
  border-radius: 10px;
  color: #fff;
  flex: 0 0 100%;
  margin: 20px;
}

.post-current {
  border: 3px solid #1e4d81;
  transform: scaleX(1.12);
}

.post-header {
  background: #808080;
  padding: 20px 20px 0 20px;
}
.post-current .post-header {
   background: #1e4d81;
}

.post-meta {
  display:flex;
  flex-wrap: wrap;
}

.author {
  font-style: italic;
}

.post-title {
  font-weight: bold;
  margin: 0 0 10px 0;
}

.post-title,
.post-body,
.author,
.timestamp {
  flex-basis: 100%;
}
.post-body,
.author,
.timestamp {
  margin: 10px 0;
}

.post-body {
  color: #808080;
  padding: 20px;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  .title-block {
    margin: 0.5em;
  }

  .app-title {
    font-size: 3.5em;
  }

  .app-subtitle {
      font-size:  1.5em;
  }

  .logo {
    max-width: 125px;
  }

}

@media screen and (min-width: 568px) {

  .author,
  .timestamp {
    flex-basis: 50%;
  }

  .timestamp {
    text-align: right;
  }

}

@media screen and (min-width: 737px) {
  .title-block {
    margin: 0.5em;
  }

  .app-title {
    font-size: 6em;
  }

  .app-subtitle {
      font-size:  2em;
  }

  .logo {
    max-width: 250px;
  }

}
