body {
  color: #808080;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-block {
  margin: 0.5em;
}

.app-title {
  color: #1e7981;
  font: 2.5em 'Ribeye', cursive;
  margin-bottom: 0;
  text-align: center;
}

.app-subtitle {
  color: #1e4d81;
  font: 1.25em 'McLaren', cursive;
  margin-top: 0;
  text-align: center;
}

.logo {
  max-width: 100px;
  width: 100%
}

/* divider */

.blue {
  box-shadow: inset 0 22px 30px -15px rgba(30, 77, 129, 0.75);
}

.teal {
  box-shadow: inset 0 22px 30px -15px rgba(30, 121, 129, 0.75);
}

.gray {
  box-shadow: inset 0 22px 30px -15px rgba(122, 122, 122, 0.75);
}

.line {
  border: 0;
  height: 22px;
}

/* default view */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar {
  text-align: center;
}

/* sidebar */

.cat-list {
  list-style-type: none;
  padding: 0;
}

.add-post-button,
.cat-button {
  background: #1e4d81;
  border: 0;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.close-click {
  font-size: 16px;
  position: absolute;
  right: 30px;
  top: 20px;
}
.error {
  color: red;
  font-size: 16px;
  font-style: italic;
}
button:hover {
  background: #91B9E5;
  text-decoration: none;
}

.selected-cat {
  background: #1e7981;
}

.order-title {
  font-style: italic;
  margin-bottom: 0;
}

.sort-items {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
  line-height: 40px;
  margin: 10px;
}

.sort {
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 20px;
  padding: 5px;
  width: 20px;
}

.sort-text {
  background-color: #808080;
  border-radius: 10px;
  color: #fff;
  width: 175px;
}

.sort.up {
  margin-top: 5px;
}

/* posts */

.posts-list {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em;
  max-width: 1000px;
}

.post {
  color: #fff;
  display: flex;
  flex: 0 0 100%;
  margin-bottom: 20px;
}

.post-main {
  border: 3px solid #808080;
  border-radius: 10px;
  flex-grow: 1;
}

.post-current {
  border: 3px solid #1e4d81;
}

.post-header {
  background: #808080;
  padding: 10px 20px 0 20px;
}

.post-current .post-header {
  background: #1e4d81;
}

.post-meta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 200px;
  padding: 0 0 10px 0;
}

.author, .category {
  font-style: italic;
}

.post-title {
  font-weight: bold;
  margin: 0 0 10px 0;
}

.post-title,
.post-body {
  flex-basis: 100%;
}

.post-body, .author, .timestamp, .category {
  margin: 10px 0;
}

.post-body {
  color: #808080;
  padding: 20px;
}

/* post sidebar */

.post-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 30px;
  width: 50px;
}

.down {
  background-image: url('./images/down.svg');
}

.up {
  background-image: url('./images/up.svg');
}

.edit-white {
    background-image: url('./images/edit-white.svg');
}

.delete-white {
    background-image: url('./images/delete-white.svg');
}

.edit {
    background-image: url('./images/edit.svg');
}

.delete {
    background-image: url('./images/delete.svg');
}

.votes {
  background-image: url('./images/heart.svg');
  background-size: 50px;
  color: #fff;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px
}

.voting {
  margin-right: 10px;
}

.comments-icon,
.comments-icon-white {
  background-image: url('./images/solid-bubble-message.svg');
  font-size: 18px;
  height: 40px;
  line-height: 35px;
  text-align: center;
}

.comments-icon {
  background-image: url('./images/solid-bubble-message.svg');
  padding: 40px 0;
}
.comments-icon-white {
    background-image: url('./images/solid-bubble-message-white.svg');
    color: #808080;
}

.comments-list {
  color: #808080;
}

/* comments */

.comment {
  display: flex;
}

.comment-body {
  border-left: 2px dashed;
  border-top: 2px dashed;
  padding: 10px;
  width: 100%;
}

/* modal */

.overlay {
  background-color: rgba(30, 121, 129, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .24), 0 3px 12px 0 rgba(0, 0, 0, .12);
  border-radius: 10px;
  min-width: 300px;
  overflow: auto;
  outline: none;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form>div {
  margin-top: 10px;
}

.post-form-author,
.post-form-title,
.post-form-category,
.post-form-body {
  border: 1px solid #808080;
  border-radius: 3px;
  color: #808080;
  font: 16px monospace;
}

.comment-form {
  color: #1e4d81;
}

.comment-form-author,
.comment-form-title,
.comment-form-category,
.comment-form-body {
  border: 1px solid #1e4d81;
  border-radius: 3px;
  color: #1e4d81;
  font-family: monospace;
}

button {
  background: #1e4d81;
  border: 0;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.post-form-button {
  background: #808080;
}

.post-form-button:hover {
  background: #ccc;
}

.comment-form-button {
  background: #1e4d81;
}

.comment-form-button:hover {
  background: #83b0e2;
}

.post-form-body, .comment-form-body {
  height: 75px;
  min-width: 275px;
}

.post-form-title {
  min-width: 275px;
}

button:hover {
  background: #83b0e2;
  text-decoration: none;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  .title-block {
    margin: 0.5em;
  }
  .app-title {
    font-size: 3.5em;
  }
  .app-subtitle {
    font-size: 1.5em;
  }
  .logo {
    max-width: 125px;
  }
}

@media screen and (min-width: 568px) {
  main {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .sidebar {
    flex-basis: 300px;
  }
  .posts-display {
    flex-basis: 800px;
  }
  .add-post-button,
  .cat-button {
    max-width: 300px;
  }
  .author, .timestamp {
    flex-basis: 50%;
  }
  .timestamp {
    text-align: right;
  }
}

@media screen and (min-width: 737px) {
  .title-block {
    margin: 0.5em;
  }
  .app-title {
    font-size: 6em;
  }
  .app-subtitle {
    font-size: 2em;
  }
  .logo {
    max-width: 250px;
  }
}
